name: Add Changeset with New Version

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version type (patch, minor, major)"
        required: true
        default: "patch"
        type: choice
        options:
          - patch
          - minor
          - major
      message:
        description: "Version message"
        required: true
        default: ""

jobs:
  add_changeset:
    if: github.actor == 'zemd'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js 24
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Create changeset file
        run: |
          FILE_NAME=".changeset/$(uuidgen).md"
          echo "---" > "$FILE_NAME"
          echo '"@zemd/react-slottable": ${{ inputs.version }}' >> "$FILE_NAME"
          echo "---" >> "$FILE_NAME"
          echo "" >> "$FILE_NAME"
          echo "${{ inputs.message }}" >> "$FILE_NAME"

      - name: Commit changeset
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .changeset
          git commit -m "Add changeset: ${{ inputs.version }} - ${{ inputs.message }}"

      - name: Push changes
        run: git push origin HEAD
